h1,h2,h3,h4,p,span, a{
	font-family: 'Oswald', sans-serif;
}
.navbar{
	background: #c00000;
}
.navbar img{
	width: 80px;
}


h1 {
   color: azure;
  
}
h1 span{
    font-size: 1.5em;
    padding-right: 5px;

}
span{
    font-size: 1.4em;
	padding-right: 2px;
	color: white;
	

}

h4{
	color: #ffd700;
	padding-left: 5px;
	

}

#main .carousel-inner img{
	max-height: 75vh;
	object-fit: cover;
	filter: grayscale(70%);
	
	opacity: 1;
	
}
#carousel{
	position: relative;
}
#carousel .overlay{
	
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
     
 
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
	height: 100%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
	object-fit: cover;
	border-radius: 10px;
}
.card{
	height:200px	

}

#somos {
	background:#dc3545;
	background-size: cover;
}

#persona {
 
	background: url(assets/persona.jpg);
	background-size: cover;
	
	filter: grayscale(10%);
	
	background-repeat: no-repeat;
	
	}
	#persona .overlay{
	
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.1);
	
		
	
	}

#trabajo {
 
background: url(assets/fondo1.jpg);
background-size: cover;

filter: grayscale(10%);
background-repeat: no-repeat;

}
#trabajo .overlay{
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);

	

}




#diferencia {
	background: #333;

}
#diferencia .container-fluid {
	color: white;
}
#diferencia2  img {
	width:100%;
    height: 400px;
	
	
}
#formulario {
	background: #333;
	color: white;

}
#footer {
	padding-top: 40px;
background: url(assets/oficina3.jpg);

background-size: cover;
padding-bottom: 40px;
background-repeat: no-repeat;	
}

#footer .overlay{
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);

}


.bg-gradient {
	background: #C9D6FF;
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
	background: linear-gradient(to right, #E2E2E2, #C9D6FF);
	} 
	ul li {
	  margin-bottom:1.4rem;
	}
	.pricing-divider {
	border-radius: 20px;
	background: #dc35469d;
	padding: 1em 0em 3em;
	position: relative;
	}
	.blue .pricing-divider{
	background: rgba(45, 88, 114, 0.562); 
	}
	.green .pricing-divider {
	background: rgba(26, 168, 92, 0.603); 
	}
	.red b {
	  color:#dc3545
	}
	.blue b {
	  color:#2D5772
	}
	.green b {
	  color:#1AA85C
	}
	.pricing-divider-img {
		position: absolute;
		bottom: -	2px;
		left: 0;
		width: 100%;
		height: 80px;
	}
	.deco-layer {
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}
	.btn-custom  {
	  background:#dc3545; color:#fff; border-radius:20px
	}
	
	.img-float {
	  width:50px; position:absolute;top:-3.5rem;right:1rem
	}
	
	.princing-item {
	  transition: all 150ms ease-out;
	}
	.princing-item:hover {
	  transform: scale(1.05);
	}
	.princing-item:hover .deco-layer--1 {
	  -webkit-transform: translate3d(15px, 0, 0);
	  transform: translate3d(15px, 0, 0);
	}
	.princing-item:hover .deco-layer--2 {
	  -webkit-transform: translate3d(-15px, 0, 0);
	  transform: translate3d(-15px, 0, 0);
	}
	.circle {
		padding: 13px 20px;
		border-radius: 50%;
		background-color: #ED8D8D;
		color: #fff;
		max-height: 50px;
		z-index: 2;
	}
	
	.how-it-works.row .col-2 {
		align-self: stretch;
	}
	.how-it-works.row .col-2::after {
		content: "";
		position: absolute;
		border-left: 3px solid #ED8D8D;
		z-index: 1;
	}
	.how-it-works.row .col-2.bottom::after {
		height: 50%;
		left: 50%;
		top: 50%;
	}
	.how-it-works.row .col-2.full::after {
		height: 100%;
		left: calc(50% - 3px);
	}
	.how-it-works.row .col-2.top::after {
		height: 50%;
		left: 50%;
		top: 0;
	}
	
	
	.timeline div {
		padding: 0;
		height: 40px;
	}
	.timeline hr {
		border-top: 3px solid #ED8D8D;
		margin: 0;
		top: 17px;
		position: relative;
	}
	.timeline .col-2 {
		display: flex;
		overflow: hidden;
	}
	.timeline .corner {
		border: 3px solid #ED8D8D;
		width: 100%;
		position: relative;
		border-radius: 15px;
	}
	.timeline .top-right {
		left: 50%;
		top: -50%;
	}
	.timeline .left-bottom {
		left: -50%;
		top: calc(50% - 3px);
	}
	.timeline .top-left {
		left: -50%;
		top: -50%;
	}
	.timeline .right-bottom {
		left: 50%;
		top: calc(50% - 3px);
	}



	.box > .icon { text-align: center; position: relative;}
	.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: black; vertical-align: middle; }
	.box > .icon:hover > .image { background: #dc3545; }
	.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
	.box > .icon:hover > .image > i { color: white !important; }
	.box > .icon > .info { margin-top: -24px; border: 1px solid black; padding: 15px 0 10px 0;  background: white; }
	.box > .icon:hover > .info {  border-color: black; color: black; }
	.box > .icon > .info > h3.title { font-size: 1.8rem; color: black; font-weight: 500; }
	.box > .icon > .info > p {  font-size: 1.3rem; color: black; line-height: 1.5em; margin: 22px;}
	.box > .icon > .info > .well {  font-size: 1.2rem; color: black; line-height: 1.0em;  font-weight: 500;  }
	.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: black; }
	.box > .icon > .info > .more a {   font-size: 1.8rem; color:black; line-height: 15px; text-transform: uppercase; text-decoration: none; }
	.box > .icon:hover > .info > .more > a { color: black; padding: 6px 8px; background-color: #dc3545; }
	.box .space { height: 30px; }